@import url("https://fonts.googleapis.com/css2?family=Montserrat|Merienda+One:wght@200;300;400&display=swap");
$font: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

///colors
$off-white: #f8f8f8;
$Yellow: #ffcc18;
$Black: #1b1b1b;
$Off-black: #1c1b1b;

// breaking-points

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 550px;

// Tablets and small desktops
$screen-md-min: 993px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

* {
  margin: 0;
}
html,
body {
  font-family: $font;
  font-size: 16px;
  background-color: $off-white;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  main {
    min-height: 100vh;
  }
  @include md {
    width: 80%;
  }
  @include sm {
    width: 100%;
  }
}
a {
  color: $Black;
  text-decoration: none;
}

// header
header {
  background: transparent;
  width: 100%;
  color: $Black;
  margin-top: 0.5rem;
  .inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    h1 {
      font-family: Merienda + One;
      font-size: 28px;
      font-style: italic;
      font-weight: bolder;
    }
  }
  .menu {
    a {
      margin-right: 0.5rem;
      &:hover {
        color: $Yellow;
      }
    }
    ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
    }
  }
}
// FOOTER
.footer_container {
  width: 100%;
  height: 2rem;
  background: sandybrown;
  footer {
    display: flex;
    justify-content: center;
  }
}

.product_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1030px;
  margin: 2rem auto;
  padding: 1rem 0;
  background: #fff;
  border-radius: 40px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

  .card {
    width: 200px;
    min-height: 210px;
    margin: 1rem;
    border-radius: 20px;
    padding: 0.4rem 0;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
      0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    @include sm {
      width: 50vw;
      margin: 0.2rem auto;
      border-radius: 0;
      box-shadow: none;
    }
    .img_container {
      // height: 22vh;
      overflow: hidden;
      display: flex;
      justify-content: center;
      img {
        object-fit: contain;
        @include sm {
          width: 110px;
          // margin: 0;
        }
      }
    }
    .botttom_container {
      width: 90%;
      margin: 0 auto;
      // height: 2.5rem;
      .brand_price {
        display: flex;
        justify-content: space-between;
      }
      .title {
        text-align: left;
        h6 {
          text-overflow: ellipsis;
          width: 90%;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
    .card_lebel {
      background: rgb(237, 106, 64);
      position: absolute;
      border-radius: 0 0 20px 20px;
      width: inherit;
      width: inherit;
      margin-top: -2.1rem;
      padding: 0.2rem 0;
      display: flex;
      justify-content: space-evenly;
      display: none;
    }
  }
  @include sm {
    width: 100%;
    justify-content: flex-start;
  }
}

// Promo Card

.promo {
  background-color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 40px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

  //// Slider
  .slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 99%;
    text-align: center;
  }

  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }

  .slide {
    display: inline-block;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
      0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

    height: 200px;
    width: 100%;
    border-radius: 40px;
    h4 {
      z-index: 10;
      position: relative;
      top: 5rem;
      font-size: 25px;
      text-transform: uppercase;
      mix-blend-mode: overlay;
      @include md {
        font-size: 80%;
        top: 5.7rem;
      }
    }
  }

  /* Buttons */

  .slideshowDots {
    text-align: center;
    position: relative;
    bottom: 2.4rem;
  }

  .slideshowDot {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #cfcfcf;
  }

  .slideshowDot.active {
    mix-blend-mode: exclusion;
  }

  // Promo Card
  .promo_cards {
    display: flex;
    height: 10rem;
    margin: 0 auto;
    max-width: 99%;
    .child {
      background: black;
      flex-grow: 1;
      height: 100%;
      border-radius: 40px;
      box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
      @include md {
        display: none;
      }
    }
    .big {
      background: #4d4dff;
      height: 100%;
      flex-grow: 3;
      border-radius: 40px;
      margin-right: 1rem;
      @include md {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
  }
}

////SINGLE PRODUCT PAGE////////////

.single_product {
  display: flex;
  width: 90%;
  margin: 0 auto;
  background: #ffffff;
  @include sm {
    flex-direction: column;
  }
  .c {
    flex-grow: 1;
  }
  .image_container {
    flex-grow: 3;
    // display: flex;
    min-width: 55%;
 
    .leftArrow {
      position: absolute;
      top: 20rem;
      z-index: 10;
      @include sm {
        top: 33vh;
      }
    }
    .rightArrow {
      position: absolute;
      top: 20rem;
      left: 50%;
      z-index: 10;
      @include sm {
        top: 33vh;
        left: 86vw;
      }
    }
    .slide {
      opacity: 0;
      transition-duration: 0.7s ease;
    }

    .slide.active {
      opacity: 1;
      transition-duration: 0.7s;
      transform: scale(0.78);
    }
  }
  .product_info {
    margin: 3rem 0.7rem 2rem 0;
    .action {
      margin-top: 2rem;
      @include sm {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
      button {
        padding: 1rem 3rem;
        margin: 0.3rem;
        @include sm {
          padding: 0.5rem 1.5rem;
        }
      }
    }
  }
}
